{% extends 'index.html' %}
{% block title %}Giới thiệu{% endblock %} 
{% block content %}
<section class="banner-about"></section>
<section class="content-about">
  <div class="container">
    <h1>BỆNH TIỂU ĐƯỜNG</h1>
    <div class="event">
      <h2>Sự kiện chính</h2>
      <ul>
        <li>
          Số người mắc bệnh tiểu đường đã tăng từ 108 triệu năm 1980 lên 422
          triệu vào năm 2014. Tỷ lệ mắc bệnh này tăng nhanh hơn ở các nước có
          thu nhập thấp và trung bình so với các nước có thu nhập cao.
        </li>
        <li>
          Bệnh tiểu đường là nguyên nhân chính gây mù lòa, suy thận, đau tim,
          đột quỵ và cắt cụt chi dưới.
        </li>
        <li>
          Từ năm 2000 đến năm 2019, tỷ lệ tử vong do bệnh tiểu đường tăng 3%
          theo độ tuổi.
        </li>
        <li>
          Năm 2019, bệnh tiểu đường và bệnh thận do tiểu đường gây ra ước tính
          khoảng 2 triệu ca tử vong.
        </li>
      </ul>
    </div>
    <div class="overview">
      <h2>Tổng quan</h2>
      <p>
        Bệnh tiểu đường là một bệnh mãn tính xảy ra khi tuyến tụy không sản xuất
        đủ insulin hoặc khi cơ thể không thể sử dụng hiệu quả lượng insulin mà
        nó sản xuất. Insulin là một loại hormone điều hòa lượng đường trong máu.
        Tăng đường huyết, còn gọi là tăng đường huyết hoặc tăng đường huyết, là
        hậu quả phổ biến của bệnh tiểu đường không kiểm soát được và theo thời
        gian dẫn đến tổn thương nghiêm trọng cho nhiều hệ thống của cơ thể, đặc
        biệt là dây thần kinh và mạch máu.
      </p>
      <p>
        Năm 2014, có 8,5% người trưởng thành từ 18 tuổi trở lên mắc bệnh tiểu
        đường. Năm 2019, bệnh tiểu đường là nguyên nhân trực tiếp gây ra 1,5
        triệu ca tử vong và 48% tổng số ca tử vong do bệnh tiểu đường xảy ra
        trước 70 tuổi. 460.000 ca tử vong do bệnh thận khác là do bệnh tiểu
        đường và lượng đường trong máu tăng cao gây ra khoảng 20% ​​số ca tử
        vong do tim mạch.
      </p>
      <p>
        Từ năm 2000 đến năm 2019, tỷ lệ tử vong chuẩn hóa theo độ tuổi do bệnh
        tiểu đường đã tăng 3%. Ở các nước có thu nhập trung bình thấp, tỷ lệ tử
        vong do bệnh tiểu đường tăng 13%.
      </p>
      <p>
        Ngược lại, xác suất tử vong vì bất kỳ một trong bốn bệnh không lây nhiễm
        chính (bệnh tim mạch, ung thư, bệnh hô hấp mãn tính hoặc tiểu đường)
        trong độ tuổi từ 30 đến 70 đã giảm 22% trên toàn cầu từ năm 2000 đến năm
        2019.
      </p>
    </div>
    <div class="symptoms">
      <h2>Triệu chứng</h2>
      <p>
        Các triệu chứng của bệnh tiểu đường có thể xảy ra đột ngột. Ở bệnh tiểu
        đường loại 2, các triệu chứng có thể nhẹ và có thể mất nhiều năm mới
        được phát hiện.
      </p>
      <p>Các triệu chứng của bệnh tiểu đường bao gồm:</p>
      <ul>
        <li>Cảm thấy rất khát</li>
        <li>Cần đi tiểu thường xuyên hơn bình thường</li>
        <li>Mờ mắt</li>
        <li>Cảm thấy mệt</li>
        <li>Giảm cân ngoài ý muốn</li>
      </ul>
      <p>
        Theo thời gian, bệnh tiểu đường có thể làm tổn thương các mạch máu ở
        tim, mắt, thận và dây thần kinh.
      </p>
      <p>
        Những người mắc bệnh tiểu đường có nguy cơ mắc các vấn đề sức khỏe cao
        hơn bao gồm đau tim, đột quỵ và suy thận.
      </p>
    </div>
    <div class="type-1">
      <h2>Tiểu đường loại 1</h2>
      <p>
        Bệnh tiểu đường loại 1 (trước đây gọi là bệnh tiểu đường phụ thuộc
        insulin, khởi phát ở tuổi vị thành niên hoặc thời thơ ấu) được đặc trưng
        bởi tình trạng sản xuất insulin bị thiếu hụt và cần phải sử dụng insulin
        hàng ngày. Năm 2017 có 9 triệu người mắc bệnh tiểu đường tuýp 1; phần
        lớn trong số họ sống ở các nước có thu nhập cao. Cả nguyên nhân lẫn
        phương tiện để ngăn chặn nó đều không được biết đến.
      </p>
    </div>
    <div class="type-2">
      <h2>Tiểu đường loại 2</h2>
      <p>
        Bệnh tiểu đường loại 2 ảnh hưởng đến cách cơ thể bạn sử dụng đường
        (glucose) làm năng lượng. Nó ngăn cơ thể sử dụng insulin đúng cách, có
        thể dẫn đến lượng đường trong máu cao nếu không được điều trị.
      </p>
      <p>
        Theo thời gian, bệnh tiểu đường tuýp 2 có thể gây ra những tổn thương
        nghiêm trọng cho cơ thể, đặc biệt là dây thần kinh và mạch máu.
      </p>
      <p>
        Bệnh tiểu đường loại 2 thường có thể phòng ngừa được. Các yếu tố góp
        phần phát triển bệnh tiểu đường loại 2 bao gồm thừa cân, không tập thể
        dục đủ và di truyền.
      </p>
      <p>
        Chẩn đoán sớm là rất quan trọng để ngăn ngừa những ảnh hưởng xấu nhất
        của bệnh tiểu đường loại 2. Cách tốt nhất để phát hiện bệnh tiểu đường
        sớm là kiểm tra sức khỏe và xét nghiệm máu thường xuyên với nhà cung cấp
        dịch vụ chăm sóc sức khỏe.
      </p>
      <p>
        Các triệu chứng của bệnh tiểu đường loại 2 có thể nhẹ. Họ có thể mất vài
        năm để được chú ý. Các triệu chứng có thể tương tự như bệnh tiểu đường
        loại 1 nhưng thường ít rõ ràng hơn. Kết quả là bệnh có thể được chẩn
        đoán vài năm sau khi khởi phát, sau khi các biến chứng đã phát sinh.
      </p>
      <p>
        Hơn 95% người mắc bệnh tiểu đường mắc bệnh tiểu đường loại 2. Bệnh tiểu
        đường loại 2 trước đây được gọi là bệnh không phụ thuộc insulin hoặc
        khởi phát ở người trưởng thành. Cho đến gần đây, loại bệnh tiểu đường
        này chỉ gặp ở người lớn nhưng hiện nay nó cũng xảy ra ngày càng thường
        xuyên ở trẻ em.
      </p>
    </div>
    <div class="prevention">
      <h2>Phòng ngừa</h2>
      <p>
        Thay đổi lối sống là cách tốt nhất để ngăn ngừa hoặc trì hoãn sự khởi
        phát của bệnh tiểu đường loại 2.
      </p>
      <p>
        Để giúp ngăn ngừa bệnh tiểu đường loại 2 và các biến chứng của nó, mọi
        người nên:
      </p>
      <ul>
        <li>Đạt và giữ trọng lượng cơ thể khỏe mạnh</li>
        <li>
          Duy trì hoạt động thể chất với ít nhất 30 phút tập thể dục vừa phải
          mỗi ngày
        </li>
        <li>
          Ăn một chế độ ăn uống lành mạnh và tránh đường và chất béo bão hòa
        </li>
        <li>không hút thuốc lá.</li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}
