{% extends 'index.html' %}
{% block title %}Giới thiệu{% endblock %}
{% block content %}
<section class="banner-about"></section>
<section class="team-work" style="margin-bottom: 35px">
    <div class="container" style="border-bottom: 3px solid #226faf; height: 620px;">
        <div class="our-team">
            <h1>THÀNH VIÊN</h1>
            <div class="members">
                <div class="member">
                    <img src="https://cdn4.iconfinder.com/data/icons/profession-avatar-5/64/29-programmer-512.png"
                        alt="">
                    <div class="content">
                        <h3>HUỲNH ANH TUẤN</h3>
                        <h4><a href="https://github.com/TuannnHuynh" style="color: aliceblue;">Github: devtuannnn</a></h4>
                        <p>-------------------------------------------------TuannnHuynh</p>
                    </div>
                </div>
                <div class="member">
                    <img src="https://cdn0.iconfinder.com/data/icons/occupation-002/64/programmer-programming-occupation-avatar-512.png"
                        alt="">
                    <div class="content">
                        <h3>LÊ TẤN LỘC</h3>
                        <h4><a href="https://github.com/letanloc-tlooc" style="color: aliceblue;">Github: tlooc</a></h4>
                        <p>-------------------------------------------------letanloc-tlooc</p>
                    </div>
                </div>
                <div class="member">
                    <img src="https://cdn2.iconfinder.com/data/icons/professions-vivid-vol-2/256/Programmer_Female-1024.png"
                        alt="">
                    <div class="content">
                        <h3>NGUYỄN THỊ KIM NGỌC</h3>
                        <h4><a href="https://github.com/wydng" style="color: aliceblue;">Github: Kim Ngoc</a></h4>
                        <p>-------------------------------------------------wydng · she/her</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}